In [1]:
%matplotlib notebook
import math
import numpy as np
import matplotlib.pyplot as pyplot
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("apartment_testing_data.csv") 
data.head()

,ID,Event/Action,Description,Devices F.#1,Devices F.#2,Devices F.#3,Tap %,Apt. #,Fixture #1,Fixture Code,...,Total CW Vol (L),Total HW Vol (L),Total Vol (L),Avg Flow CW (L/H),Avg Flow HW (L/H),Avg Flow (L/H),Min CW (L),Max CW (L),Min HW (L),Max HW (L)
0,14,"Filling Up Carafe, drinking 1,7L",ML Test,cw,NaN,NaN,NaN,1,Kitchen Sink,0,...,1.349354,0.000709,1.350062,231.317755,0.121522,231.439277,-111.081610,256.193756,-4.384973,3.550122
1,15,"Glass of Water, drinking 20CL",ML Test,cw,NaN,NaN,NaN,1,Kitchen Sink,0,...,0.297282,-0.000047,0.297235,214.043317,-0.033822,214.009495,-59.591986,272.971747,-6.154376,5.551996
2,16,"Coffee cup, Drinking 35CL",ML Test,cw,NaN,NaN,NaN,1,Kitchen Sink,0,...,0.279836,0.000157,0.279993,201.482127,0.112994,201.595120,-65.086578,309.974359,-4.034894,4.502527
3,17,Washing Vegetables(3 carrots+1 salad cabbage),ML Test,both,NaN,NaN,NaN,1,Kitchen Sink,0,...,2.216994,0.003218,2.220212,119.122040,0.172908,119.294948,-80.756982,198.649731,-6.797791,5.626373
4,18,"Washing Dishes (2 Plates, 2 coffee cups, 1 sma...",ML Test,both,NaN,NaN,NaN,1,Kitchen Sink,0,...,5.018906,1.482413,6.501319,140.062480,41.369672,181.432153,-57.063647,197.044684,-29.802393,90.351617

In [3]:
data.drop(labels="Description", axis=1, inplace=True)
data.drop(labels="ID", axis=1, inplace=True)
data.drop(labels="Event/Action", axis=1, inplace=True)
data.drop(labels="Devices F.#1", axis=1, inplace=True)
data.drop(labels="Devices F.#2", axis=1, inplace=True)
data.drop(labels="Devices F.#3", axis=1, inplace=True)
data.drop(labels="Tap %", axis=1, inplace=True)
data.drop(labels="Apt. #", axis=1, inplace=True)
data.drop(labels="Fixture #1", axis=1, inplace=True)
data.drop(labels="Fixture #2", axis=1, inplace=True)
data.drop(labels="Fixture #3", axis=1, inplace=True)
data.drop(labels="Result", axis=1, inplace=True)
data.drop(labels="Notes", axis=1, inplace=True)
data.drop(labels="Joel's Remarks", axis=1, inplace=True)
data.drop(labels="Start Time", axis=1, inplace=True)
data.drop(labels="End Time", axis=1, inplace=True)
data.drop(labels="Start (datetime)", axis=1, inplace=True)
data.drop(labels="Stop (datetime)", axis=1, inplace=True)
data.drop(labels="Duration", axis=1, inplace=True)
data.drop(labels="Duration.1", axis=1, inplace=True)
data.head()

,Fixture Code,Duration (s),Duration (H),Total CW Vol (L),Total HW Vol (L),Total Vol (L),Avg Flow CW (L/H),Avg Flow HW (L/H),Avg Flow (L/H),Min CW (L),Max CW (L),Min HW (L),Max HW (L)
0,0,21,0.005833,1.349354,0.000709,1.350062,231.317755,0.121522,231.439277,-111.081610,256.193756,-4.384973,3.550122
1,0,5,0.001389,0.297282,-0.000047,0.297235,214.043317,-0.033822,214.009495,-59.591986,272.971747,-6.154376,5.551996
2,0,5,0.001389,0.279836,0.000157,0.279993,201.482127,0.112994,201.595120,-65.086578,309.974359,-4.034894,4.502527
3,0,67,0.018611,2.216994,0.003218,2.220212,119.122040,0.172908,119.294948,-80.756982,198.649731,-6.797791,5.626373
4,0,129,0.035833,5.018906,1.482413,6.501319,140.062480,41.369672,181.432153,-57.063647,197.044684,-29.802393,90.351617

In [4]:
# In Order From 0: Kitchen Sink, Bathroom Sink, Bathroom Shower, Bathroom Toilet
y = data["Fixture Code"].to_numpy()

In [5]:
data.drop(labels="Fixture Code", axis=1, inplace=True)

In [6]:
X = data.to_numpy()

In [7]:
# Feature Normalization
scaler = StandardScaler()

y_train = y[:15]
X_train = X[:15]

scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X[15:])

X_train.shape

(15, 12)

In [8]:
# n_neighbors = ?
neigh = KNeighborsClassifier(n_neighbors=3, weights="distance")
neigh.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='distance')

In [9]:
print(neigh.predict(X_test))
print(y[15:])

[0 0 0 3 0 1 1 0 1 1 2 2 2 3 3]
[0 0 0 0 0 1 1 0 1 1 2 2 2 3 3]

In [10]:
neigh.score(scaler.transform(X), y)

0.9666666666666667

# Review
Used only the single faucet data for this model.  
Removed the columns that I find not essential to the model.  
Used the first 15 rows as training set and the next 15 as testing set.

In the future, 
    * There should be a larger training and testing sets. 
    * The rows should be randomized before splitting it up. 
    * There should also be a cross validation set.

Although it shows a perfect accuracy of 1.0 (100%), it could be because it's an overfit.
I am still trying to understand what each parameter does and how it affects the model.